
[*]

# ReSharper properties
resharper_anonymous_method_declaration_braces = end_of_line
resharper_case_block_braces = end_of_line
resharper_continuous_line_indent = none
resharper_function_declaration_return_type_style = on_single_line
resharper_function_definition_return_type_style = on_single_line
resharper_indent_preprocessor_directives = normal
resharper_invocable_declaration_braces = end_of_line
resharper_line_break_before_comma_in_member_initializer_lists = true
resharper_line_break_before_requires_clause = on_single_line
resharper_member_initializer_list_style = line_break
resharper_new_line_before_catch = false
resharper_new_line_before_else = false
resharper_new_line_before_while = false
resharper_other_braces = end_of_line
resharper_requires_expression_braces = end_of_line
resharper_simple_block_style = line_break
resharper_simple_case_statement_style = line_break
resharper_simple_embedded_statement_style = line_break
resharper_toplevel_function_declaration_return_type_style = on_single_line
resharper_toplevel_function_definition_return_type_style = on_single_line
