.vs/
.idea/
out/


*.sga
*.pdb
*.exe
*.user
*.bak
.editorconfig
*.Settings
*.sga

x64/
Win32/


packages/
Output/
Projects/*/Output/
Projects/*/Intermediate/
ThirdParty/Build/



Projects/*/Project/obj/
임시*