.vs/
.idea/
out/


*.sga
*.pdb
*.exe
*.user
*.bak
.editorconfig
*.Settings
*.sga



packages/
Output/
Intermediate/
Projects/*/Output/
Projects/*/Intermediate/
ThirdParty/Build/



Projects/*/Project/obj/
임시*