<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Summary 90</Title>
			<Shortcut>xx</Shortcut>
			<Description>Summary 90</Description>
			<Author>jdyun</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>name</ID>
					<ToolTip>90컬럼 주석</ToolTip>
					<Default>주석1</Default>
				</Literal>
			</Declarations>
			<Code Language="cpp">
				<![CDATA[//////////////////////////////////////////////////////////////////////////////////////////]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>